header{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png"); 
    height: 170px;
    position: relative;
}

.logo{
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1{
    margin-bottom: 0;
    font-size: 2.5em;
}

h4, h5{
    margin: 0;
    color: #858585;
}

h5{
    margin-bottom: 20px;
}

.text-blue{
    color: #21A9E5;
}

.text-description{
    font-size: 0.75em;
    margin-top: 0;
}

ul{
    padding-left: 20px;
}